@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  height: 100dvh;
  scroll-behavior: smooth;
  background: hsl(231, 26%, 95%);
  font-family: theme('fontFamily.inter'); /* Use Tailwind's theme value */
}
