/* Sidebar Styles */
.sidebar {
  height: 100dvh;
  overflow-y: auto;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  /* background-color: hsl(225, 5%, 84%); */
  width: 325px;
  scroll-behavior: smooth;
}

.sidebar.collapsed {
  width: 80px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

/* Logo Container */
.logo-container {
  padding-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 768px) {
  .logo-container {
    height: 40px;
    margin-bottom: 10px;
  }
}

/* Menu Styles */
.menu {
  border-right: none;
}

.ant-menu-item,
.ant-menu-submenu-title {
  padding-left: 24px !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: hsl(199, 100%, 95%);
  color: rgb(24, 144, 255);
}

.ant-menu-item-selected {
  background-color: rgb(24, 144, 255) !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 4px;
}

.submenu-hovered .ant-menu-submenu-popup {
  max-height: 500px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.871);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 160px;
  }

  .sidebar.collapsed {
    width: 0px;
  }
}

.no-animation {
  transition: none !important;
}
